<%= form_for (:session) do |f| %>
  <div class="signin-form d-flex flex-column mt-3">
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username, autocomplete: 'off' %>
    <%= f.submit 'Sign in' %>
  </div>
<% end %>
