  .row {
    width: 100%;
  }

  .msg-form {
    position: fixed;
    bottom: 0;
    width: 80%;
  }

  .col-md-3 {
    padding-left: 40px;
  }

  .col-md-9 {
    height: 100vh;
    overflow-y: scroll;
  }

  .msg-content {
    width: 70%;
    height: 80px;
    margin-right: 5px;
  }

  .btn-send {
    width: 120px;
  }

  .message-box {
  width: fit-content;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px 20px;
  padding-left: 10px;
  text-align: left;
}

.rooms-list {
  margin-bottom: 30px;
}

.signout-container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px 10px;
}

.signout-text {
  border: none;
  padding: 5px 20px;
  background-color: #0073ffbe;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.signout-text:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.05) ;
}

.room-container {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0073ffbe;
  padding: 3px 15px;
  margin: 5px 0px;
  width: 100px;
}

#rooms {
  overflow-y: scroll;
}
// new_room_form

.new-room {
  border-radius: 5px 0px 0px 5px;
}

.btn-add {
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  background-color: #0073ffbe;
  color: white;
  font-weight: bold;
}

.users-rooms-container {
  margin-left: 5px;
  margin-bottom: 20px;
}

// AVATAR
.avatar {
  display: flex;
  align-items: center;
  justify-content: center
}
